.reviews {
	padding: 0 0 48px;
	.review {
		margin-top: 60px;
		display: flex;
		&__img {
			margin-right: 61px;
		}
		&__text {
			max-width: 680px;
		}
		&__title {
			font-weight: 700;
			font-size: 18px;
			line-height: 18px;
			color: #0D0D0D;
		}
		&__subtitle {
			font-size: 14px;
			line-height: 22px;
			color: #646464;
			margin-bottom: 10px;
		}
		&__content {
			font-weight: 300;
			font-size: 16px;
			line-height: 24px;
			color: #0D0D0D;
		}
	}
}